@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;1,400&display=swap');

:root {
    --c-text: #e9eae4;
    --c-bkg: #0F0c0c;

    --ff-Header: 'Rubik', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--c-bkg);
    margin: auto;
    font-family: var(--ff-Header);
    color: var(--c-text);
    padding: 2rem 1rem 2rem 1rem;

}

header img {
    border-radius: 10px;
}


main img {
    width: 100%;
    height: auto;

}

video {
    max-width: 405px;
}

footer {
    padding: 1.5rem 0 2.5rem 0;
}

footer p {
    text-align: center;
}

.footContent {
    display: flex;
    justify-content: center;
    color: var(--c-text);

}

footer img {
    width: 30px;
}

@media (min-width: 720px) {
    body {
        padding: 2rem 1.5rem 2rem 1.5rem;
    }

    main {
        display: flex;
        justify-items: center;
        gap: 1.5rem;


    }

}